!!! 5
%html
  %head
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
  %body{ :class => "#{controller.controller_name} bp two-col" }
    #wrapper
      #header-bar
        = render "layouts/header"
      #main{ :role => 'main' }
        = render "layouts/flashes"
        = yield
      #push
    #footer-bar
      = render "layouts/footer"
    = render "layouts/javascripts"



